rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function signedIn() {
      return request.auth != null;
    }

    match /produtos/{doc} {
      allow read: if true;
      allow write: if signedIn();
    }

    match /vendas/{doc} {
      allow read, write: if signedIn();
    }

    match /despesas/{doc} {
      allow read, write: if signedIn();
    }

    match /fornecedores/{doc} {
      allow read, write: if signedIn();
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
